<div class="users-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>All Users</header>
                            <div class="tools">
                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row p-b-20">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="btn-group">
                                        <a routerLink="/usersAdd" id="addRow" class="btn btn-info"> 
                                              Add new User
                                              <i class="fa fa-plus"></i>
                                            </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="example4_length">
                                        <label>
                                            Show 
                                            <select name="example4_length" aria-controls="example4" class="form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> 
                                            entries
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="example4_filter" class="dataTables_filter">
                                        <label>
                                            Search:
                                            <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example4">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-30" id="support_table5">
                                        <thead>
                                            <tr role="row">
                                                <th>ID</th>
                                                <th>User</th>
                                                <th>Full Name</th>
                                                <th>Moible</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>User Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td class="user-circle-img">
                                                    <img src="../../assets/img/profile.jpg" alt="">
                                                </td>
                                                <td>Jens Brincker</td>
                                                <td>123456789</td>
                                                <td>johnsmith@gmail.com</td>
                                                <td>Bhaktapur</td>
                                                <td>Super Admin</td>
                                                <td>
                                                    <a routerLink="/usersView" class="btn btn-tbl-view btn-xs">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <button class="btn btn-tbl-delete btn-xs">
                                                        <i class="fa fa-trash-o "></i>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="example4_info" role="status" aria-live="polite">Showing 1 to 10 of 16 entries</div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example4_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="example4_previous">
                                                <a href="#" aria-controls="example4" data-dt-idx="0" tabindex="0" class="page-link">
                                                    Previous
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item active">
                                                <a href="#" aria-controls="example4" data-dt-idx="1" tabindex="0" class="page-link">
                                                    1
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example4" class="page-link">
                                                    2
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item next" id="example4_next">
                                                <a href="#" aria-controls="example4" class="page-link">
                                                    Next
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>