<div class="users-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>All Users</header>
                            <div class="tools">
                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row p-b-20">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="btn-group">
                                        <a routerLink="/usersAdd" id="addRow" class="btn btn-info"> 
                                              Add new User
                                              <i class="fa fa-plus"></i>
                                            </a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-30" id="support_table5">
                                        <thead>
                                            <tr role="row">
                                                <th>User</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="user-circle-img">
                                                    <img src="../../assets/img/profile.jpg" alt="">
                                                </td>
                                                <td>Jens Brincker</td>
                                                <td>123456789</td>
                                                <td>johnsmith@gmail.com</td>
                                                <td>
                                                    <a routerLink="/usersEdit" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-tbl-delete btn-xs">
                                                    <i class="fa fa-trash-o "></i>
                                                </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="user-circle-img">
                                                    <img src="../../assets/img/profile.jpg" alt="">
                                                </td>
                                                <td>Mark Hay</td>
                                                <td>123456789</td>
                                                <td>johnsmith@gmail.com</td>
                                                <td>
                                                    <a routerLink="/usersEdit" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-tbl-delete btn-xs">
                                                    <i class="fa fa-trash-o "></i>
                                                </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="user-circle-img">
                                                    <img src="../../assets/img/profile.jpg" alt="">
                                                </td>
                                                <td>Anthony Davie</td>
                                                <td>123456789</td>
                                                <td>johnsmith@gmail.com</td>
                                                <td>
                                                    <a routerLink="/usersEdit" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-tbl-delete btn-xs">
                                                    <i class="fa fa-trash-o "></i>
                                                </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="user-circle-img">
                                                    <img src="../../assets/img/profile.jpg" alt="">
                                                </td>
                                                <td>David Perry</td>
                                                <td>123456789</td>
                                                <td>johnsmith@gmail.com</td>
                                                <td>
                                                    <a routerLink="/usersEdit" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-tbl-delete btn-xs">
                                                    <i class="fa fa-trash-o "></i>
                                                </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="user-circle-img">
                                                    <img src="../../assets/img/profile.jpg" alt="">
                                                </td>
                                                <td>Anthony Davie</td>
                                                <td>123456789</td>
                                                <td>johnsmith@gmail.com</td>
                                                <td>
                                                    <a routerLink="/usersEdit" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-tbl-delete btn-xs">
                                                    <i class="fa fa-trash-o "></i>
                                                </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="user-circle-img">
                                                    <img src="../../assets/img/profile.jpg" alt="">
                                                </td>
                                                <td>Alan Gilchrist</td>
                                                <td>123456789</td>
                                                <td>johnsmith@gmail.com</td>
                                                <td>
                                                    <a routerLink="/usersEdit" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-tbl-delete btn-xs">
                                                    <i class="fa fa-trash-o "></i>
                                                </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="user-circle-img">
                                                    <img src="../../assets/img/profile.jpg" alt="">
                                                </td>
                                                <td>Mark Hay</td>
                                                <td>123456789</td>
                                                <td>johnsmith@gmail.com</td>
                                                <td>
                                                    <a routerLink="/usersEdit" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-tbl-delete btn-xs">
                                                    <i class="fa fa-trash-o "></i>
                                                </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="user-circle-img">
                                                    <img src="../../assets/img/profile.jpg" alt="">
                                                </td>
                                                <td>Sue Woodger</td>
                                                <td>123456789</td>
                                                <td>johnsmith@gmail.com</td>
                                                <td>
                                                    <a routerLink="/usersEdit" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-tbl-delete btn-xs">
                                                    <i class="fa fa-trash-o "></i>
                                                </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>