<div class="customer-review-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body no-padding height-9">
                            <div class="inbox">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-head">
                                            <header>Customer Review</header>
                                        </div>
                                        <div class="row p-t-20">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="dataTables_length" id="example4_length">
                                                    <label>
                                                        Show 
                                                        <select name="example4_length" aria-controls="example4" class="form-control form-control-sm">
                                                            <option value="10">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select> 
                                                        entries
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inbox-body">
                                            <div class="inbox-header">
                                                <div class="mail-option no-pad-left">
                                                    <div class="btn-group group-padding">
                                                        <a class="btn mini tooltips" href="#" data-toggle="dropdown" data-placement="top" data-original-title="Refresh"> <i class=" fa fa-refresh fa-lg"></i>
                                                        </a>

                                                        <a class="btn mini tooltips" href="#" data-original-title="Trash"> <i class=" fa fa-trash-o fa-lg"></i>
                                                        </a>
                                                    </div>
                                                    <div id="example4_filter" class="dataTables_filter pull-right">
                                                        <label>
                                                                Search:
                                                                <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example4">
                                                            </label>
                                                    </div>


                                                    <!-- <div class="btn-group pull-right btn-prev-next">
                                                        <button class="btn btn-sm btn-primary" type="button">
                                                    <i class="fa fa-chevron-left"></i>
                                                </button>
                                                        <button class="btn btn-sm btn-primary" type="button">
                                                    <i class="fa fa-chevron-right"></i>
                                                </button>
                                                    </div> -->
                                                    <!-- <div class="todo-check pull-left m-l-20">
                                                          <input type="checkbox" value="None" id="todo-check30">
                                                          <label for="todo-check30"></label>
                                                        </div> -->
                                                </div>
                                            </div>
                                            <div class="inbox-body no-pad table-responsive">
                                                <table class="table table-inbox table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td class="inbox-small-cells">
                                                                <div class="todo-check pull-left">
                                                                    <input type="checkbox" value="None" id="todo-check1">
                                                                    <label for="todo-check1"></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a routerLink="/customerReviewView" class="prog-avatar">
                                                                    <img src="../../assets/img/profile.jpg" alt="">
                                                                </a>
                                                            </td>
                                                            <td class="review-title">
                                                                <div class="details">
                                                                    <div class="title">
                                                                        <a routerLink="/customerReviewView">Sarah Smith</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="view-review">
                                                                <a routerLink="/customerReviewView">Jatin I found you on LinkedIn.</a></td>
                                                            <td class="view-review text-right">
                                                                <div class="rating-style">
                                                                    <p class="rating-text">
                                                                        4.5
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5">
                                                <div class="dataTables_info" id="example4_info" role="status" aria-live="polite">Showing 1 to 10 of 16 entries</div>
                                            </div>
                                            <div class="col-sm-12 col-md-7">
                                                <div class="dataTables_paginate paging_simple_numbers" id="example4_paginate">
                                                    <ul class="pagination">
                                                        <li class="paginate_button page-item previous" id="example4_previous">
                                                            <a href="#" aria-controls="example4" data-dt-idx="0" tabindex="0" class="page-link">
                                                                            Previous
                                                                        </a>
                                                        </li>
                                                        <li class="paginate_button page-item active">
                                                            <a href="#" aria-controls="example4" data-dt-idx="1" tabindex="0" class="page-link">
                                                                            1
                                                                        </a>
                                                        </li>
                                                        <li class="paginate_button page-item ">
                                                            <a href="#" aria-controls="example4" class="page-link">
                                                                            2
                                                                        </a>
                                                        </li>
                                                        <li class="paginate_button page-item next" id="example4_next">
                                                            <a href="#" aria-controls="example4" class="page-link">
                                                                            Next
                                                                        </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- <div class="customer-review-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Customer Review</header>
                            <div class="tools">
                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="slimScrollDiv">
                                    <ul class="col-12 docListWindow small-slimscroll-style">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="prog-avatar">
                                                        <img src="../../assets/img/profile.jpg" alt="">
                                                    </div>
                                                    <div class="details">
                                                        <div class="title">
                                                            <a href="#">Rajesh Mishra</a>
                                                            <p class="rating-text">Awesome!!! Highly recommend</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 rating-style">
                                                    <p class="rating-text">
                                                        4.5
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="prog-avatar">
                                                        <img src="../../assets/img/profile.jpg" alt="">
                                                    </div>
                                                    <div class="details">
                                                        <div class="title">
                                                            <a href="#">Sarah Smith</a>
                                                            <p class="rating-text">Very bad service :(</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 rating-style">
                                                    <p class="rating-text">
                                                        4.5
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="prog-avatar">
                                                        <img src="../../assets/img/profile.jpg" alt="">
                                                    </div>
                                                    <div class="details">
                                                        <div class="title">
                                                            <a href="#">John Simensh</a>
                                                            <p class="rating-text"> Staff was good nd i'll come again</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 rating-style">
                                                    <p class="rating-text">
                                                        4.5
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="prog-avatar">
                                                        <img src="../../assets/img/profile.jpg" alt="">
                                                    </div>
                                                    <div class="details">
                                                        <div class="title">
                                                            <a href="#">Priya Sarma</a>
                                                            <p class="rating-text">The price I received was good value.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 rating-style">
                                                    <p class="rating-text">
                                                        4.5
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="prog-avatar">
                                                        <img src="../../assets/img/profile.jpg" alt="">
                                                    </div>
                                                    <div class="details">
                                                        <div class="title">
                                                            <a href="#">Serlin Ponting</a>
                                                            <p class="rating-text">Not Satisfy !!!1</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 rating-style">
                                                    <p class="rating-text">
                                                        4.5
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-10 col-sm-10">
                                                    <div class="prog-avatar">
                                                        <img src="../../assets/img/profile.jpg" alt="">
                                                    </div>
                                                    <div class="details">
                                                        <div class="title">
                                                            <a href="#">Priyank Jain</a>
                                                            <p class="rating-text">Good....</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 rating-style">
                                                    <p class="rating-text">
                                                        4.5
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->