<div class="client-msg-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="inbox">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-topline-gray">
                            <div class="card-body no-padding height-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-head">
                                            <header>View Client Message</header>
                                        </div>
                                        <div class="inbox-body">
                                            <div class="inbox-body no-pad">
                                                <section class="mail-list">
                                                    <div class="mail-sender">
                                                        <div class="mail-heading">
                                                            <h4 class="vew-mail-header"><b>Hi Dear, How are you?</b></h4>
                                                        </div>
                                                        <hr class="hr-divider">
                                                        <div class="media">

                                                            <div class="media-body">
                                                                <span class="date pull-right">4:15AM 04 April
                              2014</span>
                                                                <h4 class="text-primary">Sarah Smith</h4>
                                                                <small class="text-muted">From:
                              sarah@hospital.com</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="view-mail">
                                                        <p>Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Donec ultrices
                                                            faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Donec ultrices faucibus
                                                            rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci.</p>
                                                        <p>
                                                    </div>

                                                    <div class="compose-btn pull-left">



                                                        <button class="btn btn-sm btn-default tooltips" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title="">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>