<div class="package-edit-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card-box">
                        <div class="card-head">
                            <a routerLink="/package" id="panel-button" class="mdl-button mdl-button--icon collapsed">
                                <i class="material-icons">arrow_back_ios</i>
                            </a>
                            <header>Edit Package</header>
                        </div>
                        <div class="card-body row">
                            <form id="packageEditForm" class="packageEditForm" name="packageEditForm" action="" method="POST">
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <input class="mdl-textfield_input" name="" type="text" value="Nepal-dubai" id="Package Name">
                                        <label class="mdl-textfield_label">Package Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <input class="mdl-textfield_input" name="" type="number" value="8900" id="Price">
                                        <label class="mdl-textfield_label">Price</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <input class="mdl-textfield_input" name="" type="text" value="13 Days 12 Night" id="duration">
                                        <label class="mdl-textfield_label">Duration</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <input class="mdl-textfield_input" name="" type="text" value="4,000" id="altitude">
                                        <label class="mdl-textfield_label">Altitude</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-t-20">
                                    <div class="checkbox-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <label class="mdl-textfield_label floating-label">Season</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="summer">
                                            <label class="form-check-label" for="inlineCheckbox1">Summer</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="winter">
                                            <label class="form-check-label" for="inlineCheckbox2">Winter</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="autumn">
                                            <label class="form-check-label" for="inlineCheckbox3">Autumn</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="spring">
                                            <label class="form-check-label" for="inlineCheckbox4">Spring</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-t-20">
                                    <div class="select-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <label for="list3" class="mdl-textfield_label floating-label">Package Type</label>
                                        <select class="custom-select mdl-textfield_input" id="packageType">
                                            <option>Choose...</option>
                                            <option value="Inbound" selected>Inbound</option>
                                            <option value="Outbound">Outbound</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-t-20">
                                    <div class="select-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <label for="list3" class="mdl-textfield_label floating-label">Difficulty</label>
                                        <select class="custom-select mdl-textfield_input" id="difficulty">
                                                <option value="Normal">Normal</option>
                                                <option value="Medium">Medium</option>
                                                <option value="High">High</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <input class="mdl-textfield_input" name="" type="text" id="rating">
                                        <label class="mdl-textfield_label">Rating</label>
                                    </div>
                                </div>
                                <div class="col-lg-8 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <input class="mdl-textfield_input" name="" type="text" id="keyword">
                                        <label class="mdl-textfield_label">Keyword</label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p-t-20">
                                    <div class="radio-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <label class="mdl-textfield_label floating-label">Festival Offer</label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="festivalOffer">Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="festivalOffer">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <input class="mdl-textfield_input" name="" type="text" id="festivalPrice">
                                        <label class="mdl-textfield_label">Festival Price</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-t-20">
                                    <div class="radio-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <label class="mdl-textfield_label floating-label">Special Deal</label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="specialDeal">Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="specialDeal">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 p-t-20">
                                    <div class="radio-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded">
                                        <label class="mdl-textfield_label floating-label">Feature Deal</label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="featureDeal">Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="featureDeal">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 p-t-20">
                                    <div class="textarea mdl-textfield mdl-js-textfield txt-full-width is-upgraded" data-upgraded=",MaterialTextfield">
                                        <label class="mdl-textfield_label floating-label" for="text7">Overview</label>
                                        <ckeditor [(ngModel)]=this.overview id="packageDescription" name="packageDescription" #packageDescription required [config]="{uiColor: '#F8F8F8'}" [readonly]="false" debounce="500">
                                        </ckeditor>
                                    </div>
                                </div>
                                <div class="col-lg-12 p-t-20">
                                    <label class="control-label col-md-3">Upload Photo</label>
                                    <form id="coverPhotoForm" class="fileUploadForm">
                                        <div class="fileUploadForm-conatiner">
                                            <input type="file" multiple class="coverPhoto" id="coverPhoto">
                                        </div>
                                    </form>
                                </div>
                                <div class="dashed-divider p-t-20"></div>
                                <div class="col-lg-8 p-t-20">
                                    <a href="#" class="btn btn-tbl-add btn-xs pull-right">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <input class="mdl-textfield_input" name="" type="text" id="day">
                                        <label class="mdl-textfield_label">Day</label>
                                    </div>
                                    <div class="textarea mdl-textfield mdl-js-textfield txt-full-width">
                                        <label class="mdl-textfield_label floating-label" for="text7">Description</label>
                                        <ckeditor [(ngModel)]=this.overview id="description" name="description" #description required [config]="{uiColor: '#F8F8F8'}" [readonly]="false" debounce="500">
                                        </ckeditor>
                                    </div>
                                </div>
                                <div class="col-lg-8 p-t-20" id="itineraryTable">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Day</th>
                                                <th>Description</th>
                                                <th>action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Day </td>
                                                <td>
                                                    <p>Arrive at Bali! On arrival, meet and greet by traditional welcome flower and then get transferred to the Hotel for refreshment. As sun goes down, we head for the&nbsp;Cruise in comfort aboard Bali Bounty
                                                        Cruises 600 passenger catamaran with a cruising speed of up to 30 knots, you may sit back, relax and enjoy full staff service while reading the daily newspaper or viewing our onboard video entertainment,savor
                                                        a delicious international buffet dinner, then dance the night away at our disco or enjoy our live cabaret show. Return to hotel.
                                                    </p>
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-tbl-minus btn-xs">
                                                        <i class="fa fa-minus"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 p-t-20 text-center">
                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised  m-b-10 m-r-20 fill-primary" data-upgraded=",MaterialButton,MaterialRipple">Submit<span class="mdl-button_ripple-container"><span class="mdl-ripple"></span></span></button>
                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised  m-b-10 btn-default" data-upgraded=",MaterialButton,MaterialRipple">Cancel<span class="mdl-button_ripple-container"><span class="mdl-ripple"></span></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>