<div class="what-we-do-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>What we do?
                            </header>
                            <div class="tools">
                                <a routerLink="/whatWeDoEdit" class="btn btn-tbl-edit btn-xs">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="service-profile">
                                                <img src="../../assets/img/profile.jpg" class="service-img" alt="">
                                                <p>filghts</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="service-profile">
                                                <img src="../../assets/img/profile.jpg" class="service-img" alt="">
                                                <p>holidays</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="service-profile">
                                                <img src="../../assets/img/profile.jpg" class="service-img" alt="">
                                                <p>hotels </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="service-profile">
                                                <img src="../../assets/img/profile.jpg" class="service-img" alt="">
                                                <p>car rental </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="service-profile">
                                                <img src="../../assets/img/profile.jpg" class="service-img" alt="">
                                                <p>visa assitance</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="what-we-do-description">
                                                We are specialized in a complete range of travel-related services and adventure activities, from five-star to budget class range. In providing this full range of travel- and adventure-related activities, Smart Holidays continues to promote responsible
                                                tourism, sustainable development of the country and preservation of local cultures and traditions.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>