<div class="loginwrapper">
    <div class="limiter">
        <div class="container-login">
            <div class="wrap-login">
                <form class="login-form validate-form">
                    <span class="login-form-title p-b-48">
						Welcome
					</span>


                    <div class="wrap-input-field validate-input">
                        <input class="input-field" type="email" name="email" placeholder="Email" title="example@gmail.com" autocomplete="off">
                        <span class="focus-input-field" data-placeholder="Email"></span>
                    </div>

                    <div class="wrap-input-field validate-input">
                        <input class="input-field" type="password" name="pass" placeholder="Password" title="Abc123$" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                        <span class="focus-input-field" data-placeholder="Password"></span>
                    </div>

                    <div class="container-login-form-btn">
                        <div class="wrap-login-form-btn">
                            <div class="login-form-bgbtn"></div>
                            <button class="login-form-btn">
								Login
							</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>