<div class="site-info-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="card-box">
                        <div class="card-head card-topline-aqua">
                            <header>Site info</header>
                            <div class="tools">
                                <a routerLink="/siteinfoEdit" class="btn btn-tbl-edit btn-xs">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body no-padding height-9">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>Site name</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="site-info-desc-item">Himalayan Vision</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>Contact No.</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="site-info-desc-item">9841621939</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>E-Mail </b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="site-info-desc-item">info@smartholidaysnp.com</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>Address</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="site-info-desc-item">Hattisar, Kathmandu</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>Facebook</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="site-info-desc-item">/smart.holidays</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>Instagram</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="site-info-desc-item">/smart.holidays</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>Twitter</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="site-info-desc-item">www.twitter.com/smart.holidays</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>LinkedIn</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="site-info-desc-item">www.linkedin.com/smart.holidays</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card-box">
                        <div class="card-head">
                            <header>About Us</header>
                            <div class="tools">
                                <a routerLink="/siteinfoEdit" class="btn btn-tbl-edit btn-xs">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 about-us">
                                    <div class="site-info-desc-item">A holiday is a day set aside by custom or by law on which normal activities, especially business or work including school, are suspended or reduced. Generally, holidays are intended to allow individuals to celebrate
                                        or commemorate an event or tradition of cultural or religious significance. Holidays may be designated by governments, religious institutions, or other groups or organizations. The degree to which normal activities
                                        are reduced by a holiday may depend on local laws, customs, the type of job held or personal choices.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>