@import '../../scss/mixin';
.about-us {
    height: 311px;
    overflow: auto;
}

.about-us::-webkit-scrollbar-track {
    background-color: transparent;
}

.about-us::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.about-us::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $fill-light-secondary;
    opacity: 0;
    @include transition;
    display: none;
}

.about-us:hover::-webkit-scrollbar-thumb {
    opacity: 1;
    display: block;
}