<div class="background-image-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Background image
                            </header>
                            <div class="tools">
                                <a routerLink="/backgroundImageAdd" class="btn btn-tbl-edit btn-xs">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="background-image">
                                                <img src="../../assets/img/profile.jpg" class="background-img" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="background-image">
                                                <img src="../../assets/img/profile.jpg" class="background-img" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="background-image">
                                                <img src="../../assets/img/profile.jpg" class="background-img" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="background-image">
                                                <img src="../../assets/img/profile.jpg" class="background-img" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="m-b-20">
                                            <div class="background-image">
                                                <img src="../../assets/img/profile.jpg" class="background-img" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>