<div class="user-view-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="card-box">
                        <div class="card-head card-topline-aqua">
                            <a routerLink="/users" id="panel-button" class="mdl-button mdl-button--icon collapsed">
                                <i class="material-icons">arrow_back_ios</i>
                            </a>
                            <header>User Detail</header>
                            <div class="tools">
                                <a routerLink="/usersEdit" class="btn btn-tbl-edit btn-xs">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body no-padding height-9">
                            <div class="row">
                                <div class="profile-userpic">
                                    <img src="../../assets/img/profile.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>Full Name</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="info-desc-item">John Smith</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>Mobile No.</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="info-desc-item">9841621939</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>Address</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="info-desc-item">Hattisar, Kathmandu</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="p-t-20">
                                        <div class="mdl-textfield txt-full-width">
                                            <div class="sub-header">
                                                <header>System Access</header>
                                            </div>
                                            <div class="dashed-divider"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>E-Mail </b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="info-desc-item">info@smartholidaysnp.com</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <b>User Role</b>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="info-desc-item">Admin</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>