@import '../../scss/mixin';
.page-bar {
    position: relative;
    // padding: 0 20px;
    // margin: 0px -20px 15px;
    margin: 0px 0px 15px;
    border-radius: 4px;
}

.page-content .row {
    // padding: 0 20px;
}

.page-bar:after,
.page-bar:before {
    content: " ";
    display: table;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right!important;
}

.page-title {
    padding: 0;
    font-size: 28px;
    letter-spacing: -1px;
    display: block;
    color: #666;
    margin: 0 0 15px;
}

.page-title,
.page-title {
    color: #666;
    margin-bottom: 15px;
    margin-top: 15px;
}

.page-title {
    font-size: 24px;
}

.page-bar .page-breadcrumb {
    display: inline-block;
    float: left;
    padding: 8px;
    margin: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 50px;
    background: rgba(220, 208, 208, 0.3);
    padding-left: 20px !important;
}

.page-bar .page-breadcrumb {
    padding: 15px 15px;
    margin-top: 10px;
}

.page-bar .page-breadcrumb>li {
    display: inline-block;
    font-size: 1.4rem;
    color: $dark-shade-color;
}

li [class*=" fa-"],
li [class*=" glyphicon-"],
li [class*=" icon-"],
li [class^=fa-],
li [class^=glyphicon-],
li [class^=icon-] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

[class*=" fa-"]:not(.fa-stack),
[class*=" glyphicon-"],
[class*=" icon-"],
[class^=fa-]:not(.fa-stack),
[class^=glyphicon-],
[class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.page-bar .page-breadcrumb>li>i {
    color: #aaa;
    font-size: 14px;
    text-shadow: none;
}

.page-bar .page-breadcrumb>li>i,
.page-bar .page-breadcrumb>li>i {
    color: #aaa;
}

.page-bar .page-breadcrumb>li>i,
.page-bar .page-breadcrumb>li>i {
    color: #aaa;
}

.page-bar .page-breadcrumb>li>a,
.page-bar .page-breadcrumb>li>span {
    color: #888;
    font-size: 14px;
    text-shadow: none;
}

.page-bar .page-breadcrumb>li>a,
.page-bar .page-breadcrumb>li>span,
.page-bar .page-breadcrumb>li>a,
.page-bar .page-breadcrumb>li>span {
    color: #888;
    text-decoration: none;
}

.state-overview {
    color: #fff;
}

.info-box {
    min-height: 140px;
    width: 100%;
    height: 140px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 25px;
}

.info-box-icon {
    float: left;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 74px;
    background: rgba(0, 0, 0, .2);
    border-radius: 100%;
}

.info-box-icon.push-bottom {
    // margin-top: 20px;
}

.info-box-content {
    padding: 10px 10px 10px 0;
    margin-left: 90px;
}

.info-box-number {
    font-weight: 500;
    font-size: 21px;
}

.info-box-text,
.progress-description {
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.progress {
    border: 0;
    background-image: none;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 8px;
    border-radius: 0 !important;
    margin: 0;
}

.info-box .progress {
    background: rgba(0, 0, 0, .2);
    margin: 5px -10px 5px 0;
    height: 2px;
}

.info-box .progress,
.info-box .progress .progress-bar {
    border-radius: 0;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

.width-80 {
    width: 80%;
}

.width-6 {
    width: 6%;
}

.info-box .progress .progress-bar {
    background: #fff;
}

.progress-description {
    margin: 0;
}

.page-bar:after,
.page-container:after,
.page-footer:after,
.sidemenu-container .sidemenu>li.sidebar-search-wrapper:after,
.sidemenu-container .sidemenu>li.sidebar-toggler-wrapper:after,
.sidemenu-closed.sidemenu-container-fixed .sidemenu-container:hover .sidemenu>li.sidebar-search-wrapper:after,
.sidemenu-closed.sidemenu-container-fixed .sidemenu-container:hover .sidemenu>li.sidebar-toggler-wrapper:after {
    clear: both;
}


/* customer review and admin user */

.slimScrollDiv {
    position: relative;
    overflow: hidden;
    width: auto;
}

.small-slimscroll-style {
    overflow: hidden;
    width: auto;
}

ul.docListWindow {
    list-style-type: none;
    height: 266px;
    overflow-x: hidden;
    overflow-y: auto;
}

ul.empListWindow {
    list-style-type: none;
    height: 266px;
    overflow-x: hidden;
    overflow-y: auto;
}

ul.docListWindow::-webkit-scrollbar-track,
ul.empListWindow::-webkit-scrollbar-track {
    background-color: transparent;
}

ul.docListWindow::-webkit-scrollbar,
ul.empListWindow::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

ul.docListWindow::-webkit-scrollbar-thumb,
ul.empListWindow::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $fill-light-secondary;
    opacity: 0;
    @include transition;
    display: none;
}

ul.docListWindow:hover::-webkit-scrollbar-thumb,
ul.empListWindow:hover::-webkit-scrollbar-thumb {
    opacity: 1;
    display: block;
}

ul.docListWindow li,
ul.empListWindow li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dashed #dcdcdc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

ul.docListWindow li .prog-avatar,
ul.empListWindow li .prog-avatar {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 25px;
}

ul.docListWindow li .prog-avatar img,
ul.empListWindow li .prog-avatar img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.rating-text {
    font-size: 12px;
    margin: 0;
    color: gray;
}

.rating-style {
    padding-top: 10px;
}

.clsAvailable {
    color: $success-color;
    font-size: 13px;
    font-weight: 600;
}

.clsNotAvailable {
    color: $danger-color;
    font-size: 13px;
    font-weight: 600;
}

.clsOnLeave {
    color: $warning-color;
    font-size: 13px;
    font-weight: 600;
}

.empListWindow .title {
    margin: 8px 0;
}

.docListWindow .title a,
.empListWindow .title a {
    color: $primary-color;
    @include transition;
}

.docListWindow .title a:hover,
.empListWindow .title a:hover {
    color: $text-dark;
}

.btn-circle {
    border-radius: 25px !important;
    overflow: hidden;
    outline: 0px !important;
    @include transition;
}

.btn.btn-outline.purple {
    border-color: $primary-color;
    color: $primary-color;
    background: 0 0;
}

.btn.btn-outline.purple.active,
.btn.btn-outline.purple:active,
.btn.btn-outline.purple:active:focus,
.btn.btn-outline.purple:active:hover,
.btn.btn-outline.purple:focus,
.btn.btn-outline.purple:hover {
    border-color: $primary-color;
    color: $white-color;
    background-color: $primary-color;
}


/* customer review and admin user closed*/