$brand-color: #21d4fd;
$brand-shade-color: #17a2b8;
$brand-dark-shade-color: #007bff;
$primary-color: #2c7fc6;
$light-accent-color: #6fa6d5;
$light-shade-color: #e8ebe9;
$dark-accent-color: #5c6592;
$dark-shade-color: #1c213a;

/*--- */

$default-color: #999999;
$info-color: #1c213a;
$success-color: #42a173;
$warning-color: #c0913b;
$danger-color: #f44336;
$white-color: #fff;
$border-color: #adadad;
$border-color-secondary: #9e9c9e;
$border-light-color: #f2f2f2;
$border-light-color-secondary: #dee2e6;
$input-placeholder-color: #adadad;
$sidebar-color: #212529;
$btn-tbl-view: #c0913b;
$btn-tbl-edit: #888;
$btn-tbl-delete: #f96332;

/* text color*/

$text-primary:#2c7fc6;
$text-dark: #1b213a;
$text-light-secondary: #a4b0a8;
$text-dark-secondary: #0b0e16;

/* for fill background-color */

$fill-primary: #2b7fc6;
$fill-light: #e8ebe9;
$fill-light-secondary: #a4b0a8;
$fill-dark: #1b213a;
$fill-dark-secondary: #0b0e16;
$fill-highlight1: #6fa6d5;
$fill-highlight2: #5c6592;