/* You can add global styles to this file, and also import other style files */

@import 'mixin';

/* search form */

form.search-form-opened {
    float: left;
    width: 100%;
    max-width: 200px;
    background-color: transparent;
    color: #fff;
    border-radius: 30px;
    margin: 12px 0 0 10px;
    border: 1px solid #bdbdbd;
}

form.search-form-opened {
    float: none;
    margin: 0 0 0 40px;
}

.search-form-opened input[type="text"] {
    background-color: transparent;
    border: 0;
    color: #1E2629;
    padding: 7px 12px;
    font-size: 14px;
    height: 3.5rem;
}

.search-form-opened .btn {
    font-size: 12px;
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    padding: 8px 14px 7px;
    /* margin: 0 5px 10px 0; */
}

.input-group-btn .btn {
    box-shadow: none;
}

form.search-form-opened .btn.submit {
    margin: 0;
    color: #1E2629;
    outline: 0 !important;
    padding: 0;
}

.search-btn .btn:hover {
    box-shadow: none !important;
}

span.input-group-btn.search-btn {
    position: relative;
    width: 40px;
}

a.btn.submit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search-form-opened .btn>i {
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 1.8rem;
}


/* search form closed */


/* dashboard booking style*/


/* booking detail */

.card {
    position: relative;
    margin-bottom: 24px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); */
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card-box {
    background: #fff;
    min-height: 50px;
    box-shadow: none;
    position: relative;
    margin-bottom: 20px;
    transition: .5s;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

.card-box:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, .1);
    webkit-box-shadow: 0 0 25px -5px #9e9c9e;
    box-shadow: 0 0 25px -5px #9e9c9e;
}

.card:before,
.card:after {
    content: " ";
    display: table;
}

.card-head {
    border-radius: 2px 2px 0 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 2px;
    /* text-transform: uppercase; */
    color: #3a405b;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    min-height: 40px;
}

.card-head header {
    display: inline-block;
    padding: 11px 20px;
    vertical-align: middle;
    line-height: 17px;
    font-size: 20px;
    text-transform: capitalize;
}

.card-head>div {
    display: inline-block;
}

.card-head .tools {
    padding-right: 16px;
    float: right;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 24px;
    line-height: normal;
    vertical-align: middle;
}

.card-head .tools a.box-refresh {
    color: white;
    background: #28a745;
    border-radius: 100%;
    padding: 10px;
    width: 30px;
    height: 30px;
    line-height: 10px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.btn-tbl-edit,
.btn-tbl-delete,
a.box-refresh {
    @include transition;
}

.btn-tbl-edit:hover,
.btn-tbl-delete:hover,
a.box-refresh:hover {
    opacity: 0.7;
}

.btn-tbl-edit:hover i,
.btn-tbl-delete:hover i,
a.box-refresh:hover i {
    color: $white-color;
    opacity: 1;
}

[class*=" fa-"]:not(.fa-stack),
[class*=" glyphicon-"],
[class*=" icon-"],
[class^=fa-]:not(.fa-stack),
[class^=glyphicon-],
[class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.card-head .tools .btn-color {
    color: #97a0b3;
    margin-right: 3px;
    font-size: 12px;
}

.card-head:before,
.card-head:after {
    content: " ";
    display: table;
}

.card-head:after {
    clear: both;
}

.card-body {
    padding: 10px 24px 14px 24px;
    position: relative;
}

.card-body:last-child {
    border-radius: 0 0 2px 2px;
}

.card-body:before,
.card-body:after {
    content: " ";
    display: table;
}

.card-body .row .btn-group a i {
    color: $text-dark;
}

.table tr td:last-child {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    position: relative;
    margin: 16px 0;
}

.table td {
    border: 0 !important;
}

.table tr {
    border-bottom: 1px solid #dee2e6;
}

.table thead tr th {
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-primary;
}

.table td,
.card .table td,
.card .dataTable td {
    color: $text-dark;
}

.table td,
.table th,
.card .table td,
.card .table th,
.card .dataTable td,
.card .dataTable th {
    padding: 10px 8px;
    vertical-align: middle;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.alert,
.badge,
.btn-group>.btn,
.btn.btn-link:hover,
.btn,
.icon-btn,
.label,
.note,
.panel,
.overview-panel {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .18);
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label {
    text-shadow: none !important;
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 15px;
    background: #1ebdcc;
    line-height: 1;
    text-align: center;
}

.label-success {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5) !important;
}

.label-warning {
    background: linear-gradient(45deg, #FFB64D, #ffcb80) !important;
}

.label-danger {
    background: linear-gradient(45deg, #FF5370, #ff869a) !important;
}

.label.label-sm {
    font-size: 13px;
    padding: 2px 5px;
}

.label.label-sm {
    font-size: 10px;
    font-weight: 600;
    padding: 6px 6px;
    margin-right: 5px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.badge,
.btn {
    font-weight: 600;
    text-transform: uppercase;
}

.btn-tbl-delete {
    background-color: #f96332;
    border-radius: 50% !important;
    padding: 5px !important;
    color: #fff !important;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.btn-tbl-edit {
    background-color: #888;
    border-radius: 50% !important;
    padding: 5px !important;
    color: #fff !important;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.btn {
    outline: 0!important;
}

.btn {
    font-size: 12px;
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    padding: 8px 14px 7px;
    /* margin: 0 5px 10px 0; */
}

.table .btn {
    margin-left: 0;
    margin-right: 5px;
}

.btn.btn-xs {
    font-size: 11px;
    padding: 3px 8px;
}

.btn>i {
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
}

[class*=" fa-"]:not(.fa-stack),
[class*=" glyphicon-"],
[class*=" icon-"],
[class^=fa-]:not(.fa-stack),
[class^=glyphicon-],
[class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}


/* status slider */

// input[type=checkbox] {
//     display: none;
// }
// .slide-toggle {
//     display: block;
//     position: relative;
//     flex: none;
//     width: 50px;
//     height: 30px;
//     border-radius: 30px;
//     background-color: #d7d2cb;
//     cursor: pointer;
//     transition: all 0.1s ease-in-out;
//     z-index: 1;
//     // margin: 10px;
// }
// .slide-toggle::before,
// .slide-toggle::after {
//     content: ' ';
//     display: block;
//     position: absolute;
//     top: 1px;
//     border-radius: 30px;
//     height: 28px;
//     background-color: #fff;
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//     transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
// }
// .slide-toggle::before {
//     z-index: -1;
//     width: 48px;
//     right: 1px;
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     background: $danger-color;
// }
// .slide-toggle::after {
//     z-index: 1;
//     width: 28px;
//     left: 1px;
//     box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
// }
// input:checked+.slide-toggle {
//     background-color: #4dde5e;
// }
// input:checked+.slide-toggle::before {
//     -webkit-transform: scale(0);
//     transform: scale(0);
// }
// input:checked+.slide-toggle::after {
//     -webkit-transform: translate3d(20px, 0, 0);
//     transform: translate3d(20px, 0, 0);
// }

/* booking detail closed */


/* dashboard booking style*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

html,
body {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', 'Lato', sans-serif;
    line-height: 1.7;
    color: #777777;
    background: $light-shade-color;
    box-sizing: border-box;
}

.text-primary {
    color: $text-primary;
}

.text-dark {
    color: $text-dark;
}

.text-light-secondary {
    color: $text-light-secondary;
}

.text-dark-secondary {
    color: $text-dark-secondary;
}

.text-primary,
.text-info,
.text-warning,
.text-danger,
.text-success,
.text-highlight1,
.text-highlight2,
.text-light,
.text-dark {
    transition: color 1s;
}

.fill-primary {
    background: $fill-primary !important;
}

.fill-light {
    background: $fill-light !important;
}

.fill-dark {
    background: $fill-dark !important;
}

.fill-dark-secondary {
    background: $fill-dark-secondary !important;
}

.fill-highlight1 {
    background: $fill-highlight1 !important;
}

.fill-highlight2 {
    background: $fill-highlight2 !important;
}

.fill-dark,
.fill-light,
.fill-primary,
.fill-highlight1,
.fill-highlight2,
.fill-light-secondary,
.fill-dark-secondary {
    transition: background-color 1s;
}

.bg-purple {
    background: #8E44AD;
    color: #fff;
}

.bg-orange {
    background: #E67D21;
    color: #fff;
}

.bg-success {
    background-color: #28a745 !important;
    color: #fff;
}

.bg-danger {
    color: #fff;
}

.bg-blue {
    background: #3598dc;
    color: #fff;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-48 {
    padding-bottom: 48px;
}

.p-b-26 {
    padding-bottom: 26px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-l-20 {
    padding-left: 20px;
}

ul li {
    list-style-type: none;
}

a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #6a7dfe;
    color: linear-gradient(left, #21d4fd, #17a2b8);
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.form-control {
    height: 4rem;
    font-size: 1.4rem;
}

.form-control:focus {
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: $input-placeholder-color;
}

input:-moz-placeholder {
    color: $input-placeholder-color;
}

input::-moz-placeholder {
    color: $input-placeholder-color;
}

input:-ms-input-placeholder {
    color: $input-placeholder-color;
}

textarea::-webkit-input-placeholder {
    color: $input-placeholder-color;
}

textarea:-moz-placeholder {
    color: $input-placeholder-color;
}

textarea::-moz-placeholder {
    color: $input-placeholder-color;
}

textarea:-ms-input-placeholder {
    color: $input-placeholder-color;
}

li [class*=" fa-"],
li [class*=" glyphicon-"],
li [class*=" icon-"],
li [class^=fa-],
li [class^=glyphicon-],
li [class^=icon-] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

[class*=" fa-"]:not(.fa-stack),
[class*=" glyphicon-"],
[class*=" icon-"],
[class^=fa-]:not(.fa-stack),
[class^=glyphicon-],
[class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.page-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: $light-shade-color;
}

.page-content {
    margin-top: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        margin-left: 0;
        margin-top: 0;
        // min-height: 600px;
        padding: 2.5rem 2rem 1rem;
    }
}

.parent-item:hover {
    color: #1EBDCC !important;
}


/* global booking page */

.page-content-wrapper form,
.page-content-wrapper form,
{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.card-box {
    background: #fff;
    min-height: 50px;
    box-shadow: none;
    position: relative;
    margin-bottom: 20px;
    transition: .5s;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

.card-box:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, .1);
    webkit-box-shadow: 0 0 25px -5px #9e9c9e;
    box-shadow: 0 0 25px -5px #9e9c9e;
}

.card-head {
    border-radius: 2px 2px 0 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 2px;
    /* text-transform: uppercase; */
    color: #3a405b;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    min-height: 40px;
}

.card-head header {
    display: inline-block;
    padding: 11px 20px;
    vertical-align: middle;
    line-height: 17px;
    font-size: 20px;
}

.card-head:before,
.card-head:after {
    content: " ";
    display: table;
}

.card-head:after {
    clear: both;
}

.card-body {
    padding: 10px 24px 14px 24px;
    position: relative;
}

.card-body:last-child {
    border-radius: 0 0 2px 2px;
}

.card-body:before,
.card-body:after {
    content: " ";
    display: table;
}

.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /* border: 1px solid #e7ecf1; */
    margin: 10px 0!important;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    font-size: 1.4rem;
}

select.form-control.form-control-sm {
    height: 30px !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    font-size: 1.4rem;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

.dataTables_scroll {
    margin-bottom: 10px;
}

.dataTables_scrollHead {
    border-bottom: 2px solid #e7ecf1 !important;
    overflow: hidden;
    position: relative;
    border: 0px;
    width: 100%;
}

.dataTables_scrollHeadInner {
    padding-right: 0px;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
}

table.dataTable {
    border-collapse: collapse !important;
}

table.dataTable.no-footer {
    border-bottom-color: #e7ecf1;
}

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
    margin-left: 0;
}

.full-width {
    width: 100% !important;
}

.table td,
.table th,
.card .table td,
.card .table th,
.card .dataTable td,
.card .dataTable th {
    padding: 10px 8px;
    vertical-align: middle;
}

.table-checkable tr>td:first-child,
.table-checkable tr>th:first-child {
    text-align: center;
    max-width: 50px;
    min-width: 40px;
    padding-left: 0;
    padding-right: 0;
}

table.dataTable td {
    background: $light-shade-color;
}

td.user-circle-img {
    max-width: 50px;
    min-width: 40px;
    width: 50px;
    height: auto;
    overflow: hidden;
}

.user-circle-img img {
    border-radius: 50%;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }
}

.mdl-button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.mdl-button[aria-expanded="true"] {
    background-color: rgba(158, 158, 158, 0.2);
}

.mdl-button--icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: inherit;
    line-height: normal;
}

.mdl-js-button {
    right: 10px;
}

.mdl-button--icon .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
}

.mdl-button:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.mdl-menu_container {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    overflow: visible;
    height: 0;
    width: 0;
    visibility: hidden;
    z-index: -1;
}

.card-head>div {
    display: inline-block;
}

.mdl-menu_outline {
    display: block;
    background: #fff;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    will-change: transform;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
    transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1), -webkit-transform .3s cubic-bezier(.4, 0, .2, 1);
    z-index: -1;
}

.mdl-menu_outline.mdl-menu--bottom-right {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.mdl-menu {
    position: absolute;
    list-style: none;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    min-width: 124px;
    padding: 8px 0;
    margin: 0;
    opacity: 0;
    // clip: rect(0 0 0 0);
    z-index: -1;
}

.mdl-menu.mdl-menu--bottom-right {
    left: auto;
    right: 0;
}

.mdl-menu_item {
    display: block;
    border: none;
    color: rgba(0, 0, 0, .87);
    background-color: transparent;
    text-align: left;
    margin: 0;
    padding: 0 16px;
    outline-color: #bdbdbd;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mdl-menu_item {
    font-size: 12px;
}

.mdl-menu_item .material-icons {
    padding-right: 10px;
    vertical-align: middle;
}


/* ... menu */

.card-head .mdl-menu_container {
    right: 12px;
    top: 34px;
    width: 188.469px;
    height: 160px;
}

.mdl-menu_outline.mdl-menu--bottom-right {
    width: 188.469px;
    height: 160px;
}

.mdl-menu_container ul.mdl-menu .mdl-menu_item {
    padding: 0 !important;
    height: auto;
}

.mdl-menu_container ul.mdl-menu .mdl-menu_item * {
    @include transition;
}

.mdl-menu_container ul.mdl-menu .mdl-menu_item a {
    padding: 10px 25px;
}

.mdl-menu_container ul.mdl-menu .mdl-menu_item a p {
    margin: 0;
}

.mdl-menu.collapse.show,
.collapse.show {
    z-index: 9;
    visibility: visible;
}

.mdl-menu.collapse {
    // clip: rect(0px, 188.469px, 0px, 188.469px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mdl-menu.collapse.show {
    opacity: 1;
    z-index: 9;
    // clip: rect(0px, 188.469px, 160px, 0px);
    background: $white-color;
}

.mdl-menu.collapse.show .mdl-menu_item {
    opacity: 1;
}

.mdl-menu.collapse.show .mdl-menu_item:nth-child(1) {
    transition-delay: 0.012s;
}

.mdl-menu.collapse.show .mdl-menu_item:nth-child(2) {
    transition-delay: 0.084s;
}

.mdl-menu.collapse.show .mdl-menu_item:nth-child(3) {
    transition-delay: 0.156s;
}

.mdl-menu_item:hover {
    background-color: $fill-light;
}

ul.mdl-menu .nav-item a.nav-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: end;
}

ul.mdl-menu li.active>a {
    color: $light-accent-color;
}

ul.mdl-menu li:hover i,
ul.mdl-menu li:hover p {
    color: $text-primary;
}

.mdl-menu_item:hover p {
    transform: translateX(5px);
}


/* ... menu */

.mdl-textfield {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}

.txt-full-width {
    width: 100% !important;
}

.mdl-textfield_input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}

.mdl-textfield_input {
    border-bottom: 1px solid #a6aeb1 !important;
}

.mdl-textfield_label {
    bottom: 0;
    color: rgba(0, 0, 0, .26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    // overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.mdl-textfield_label {
    color: #AAAAAA !important;
    font-size: 13px !important;
}

.mdl-textfield--floating-label .mdl-textfield_label {
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-textfield_label::after {
    background-color: rgb(63, 81, 181);
    bottom: 20px;
    content: '';
    // height: 2px;
    height: 1px;
    left: 45%;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px;
}

.mdl-textfield_label::after {
    bottom: 13px !important;
}

.mdl-textfield_label::after {
    background-color: $primary-color;
}

.card-body.row input:valid:not(:placeholder-shown)+.mdl-textfield_label {
    @include transform(translateY(-22px));
    opacity: 1;
    color: $success-color;
}

.card-body.row input:invalid:not(:placeholder-shown)+.mdl-textfield_label {
    @include transform(translateY(-22px));
    opacity: 1;
    color: $danger-color;
}

.card-body.row input:not(:placeholder-shown)+.mdl-textfield_label {
    @include transform(translateY(-22px));
    opacity: 1;
}

.mdl-textfield_input+.mdl-textfield_label::after {
    bottom: -3px !important;
}

.mdl-textfield_input:focus+.mdl-textfield_label::after {
    left: 0;
    visibility: visible;
    width: 100%;
}

.mdl-textfield_input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    display: block;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    text-transform: capitalize;
}

.mdl-textfield_input {
    border-bottom: 1px solid #a6aeb1 !important;
}

.mdl-textfield textarea.mdl-textfield_input {
    display: block;
}


/* error msg */

.mdl-textfield_error {
    color: #d50000;
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
    display: block;
}


/* error msg */

.margin-0 {
    margin: 0!important;
}

.mdl-icon-toggle_label.material-icons {
    line-height: 32px;
    font-size: 24px;
}

.getmdl-select .mdl-icon-toggle_label {
    float: right;
    margin-top: -30px;
    color: rgba(0, 0, 0, 0.4);
}

.select-input .floating-label,
.radio-input .floating-label,
.checkbox-input .floating-label,
.textarea .floating-label,
.status-slider .floating-label {
    position: relative;
}

.select-input .mdl-textfield_label.floating-label,
.radio-input .mdl-textfield_label.floating-label,
.checkbox-input .mdl-textfield_label.floating-label,
.textarea .mdl-textfield_label.floating-label,
.status-slider .mdl-textfield_label.floating-label {
    @include transform(translateY(-22px));
}

.select-input select,
.radio-input,
.form-check-label {
    padding: 0;
    outline: 0;
    border: 0;
    font-size: 14px;
}

.select-input select:focus {
    border: 0;
    box-shadow: none;
}

form *:focus {
    outline: 0;
}

textarea:focus {
    border-color: $primary-color !important;
}

.control-label {
    font-size: 13px;
    margin-top: 1px;
    font-weight: 400;
    padding: 0;
    color: #AAAAAA !important;
}

.fileUploadForm,
.fileUploadForm * {
    box-sizing: border-box;
}

.fileUploadForm {
    min-height: 150px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}

.fileUploadForm .fileUploadForm-conatiner {
    text-align: center;
    margin: 2em auto;
    font-size: 20px;
    color: $text-dark-secondary;
}


/* status slider */

.status-slider {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.status-slider input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.status-slider label.switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 48px;
    height: 24px;
    background: $danger-color;
    display: block;
    border-radius: 100px;
    position: relative;
    top: 0px;
}

.status-slider label.switch::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

.status-slider input:checked+label.switch {
    background: $success-color;
}

.status-slider input:checked+label.switch::after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.status-slider label.switch:active:after {
    width: 28px;
}


/* status slider */

.m-r-20 {
    margin-right: 20px;
}

.m-b-10 {
    margin-bottom: 10px;
}

button.fill-primary {
    color: #fff !important;
    border: 0;
    letter-spacing: 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    @include transition;
}

button.btn-default {
    background: $default-color !important;
    color: #fff !important;
    border: 0;
    letter-spacing: 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    @include transition;
}

button.fill-primary:hover {
    background: $fill-dark !important;
}

button.btn-default:hover {
    background: $danger-color !important;
}


/* global booking page closed */


/* client msg */

.inbox .inbox-body,
.inbox .inbox-sidebar {
    border: 1px solid #e7ecf1;
    border-radius: 4px;
    margin-top: 14px;
    // border-top: 0;
}

.inbox .card-head header {
    padding: 0;
}

.inbox .inbox-header {
    overflow: visible;
    padding-top: 13px;
}

.no-pad-left {
    padding-left: 0 !important;
}

.mail-option {
    padding: 0px 0px 20px 20px;
}

.btn-group.group-padding {
    padding-left: 20px;
}

.btn-prev-next {
    margin-right: 10px;
}

.inbox td.inbox-small-cells {
    width: 10px;
}

.inbox tr td {
    font-weight: 500;
}

.inbox tr.unread td {
    font-weight: 600;
    vertical-align: middle;
}

.todo-check {
    width: 20px;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.todo-check input[type=checkbox] {
    visibility: hidden;
}

.inbox-small-cells .todo-check input[type=checkbox] {
    visibility: hidden;
}

.todo-check label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: #ccc 1px solid;
}

.inbox tr label {
    display: inline-block;
}

.todo-check label:after {
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 13px;
    height: 8px;
    background: transparent;
    top: 3px;
    left: 3px;
    border: 3px solid #cfcfcf;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.todo-check input[type=checkbox]:checked+label:after {
    filter: alpha(opacity=100);
    opacity: 1;
}

.btn-group>a>i {
    color: #333333;
}

.btn:hover,
.icon-btn:hover,
.btn-group>.btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .26);
}

// .view-message a {
//     color: black;
//     text-decoration: none;
// }

/* client msg closed*/