<div class="client-msg-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body no-padding height-9">
                            <div class="inbox">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-head">
                                            <header>Client Message</header>
                                        </div>
                                        <div class="inbox-body">
                                            <div class="inbox-header">
                                                <div class="mail-option no-pad-left">
                                                    <div class="btn-group group-padding">
                                                        <a class="btn mini tooltips" href="#" data-toggle="dropdown" data-placement="top" data-original-title="Refresh"> <i class=" fa fa-refresh fa-lg"></i>
                                                        </a>

                                                        <a class="btn mini tooltips" href="#" data-original-title="Trash"> <i class=" fa fa-trash-o fa-lg"></i>
                                                        </a>
                                                    </div>


                                                    <div class="btn-group pull-right btn-prev-next">
                                                        <button class="btn btn-sm btn-primary" type="button">
                                                    <i class="fa fa-chevron-left"></i>
                                                </button>
                                                        <button class="btn btn-sm btn-primary" type="button">
                                                    <i class="fa fa-chevron-right"></i>
                                                </button>
                                                    </div>
                                                    <!-- <div class="todo-check pull-left m-l-20">
                                                          <input type="checkbox" value="None" id="todo-check30">
                                                          <label for="todo-check30"></label>
                                                        </div> -->
                                                </div>
                                            </div>
                                            <div class="inbox-body no-pad table-responsive">
                                                <table class="table table-inbox table-hover">
                                                    <tbody>
                                                        <tr class="unread">
                                                            <td class="inbox-small-cells">
                                                                <div class="todo-check pull-left">
                                                                    <input type="checkbox" value="None" id="todo-check1">
                                                                    <label for="todo-check1"></label>
                                                                </div>
                                                            </td>
                                                            <td class="view-message client-title dont-show">
                                                                <div class="details">
                                                                    <div class="title">
                                                                        <a routerLink="/clientMsgView"> Leena Smith</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="view-message client-message">
                                                                <a routerLink="/clientMsgView">Jatin I found you on LinkedIn.</a>
                                                            </td>
                                                            <td class="view-message text-right">10:27 AM</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>